@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  

  .header1{
    display: block;
  max-width: 100%;
 position: relative;
    background-image: linear-gradient(45deg,
    rgba(7, 2, 17, 100),
    rgba(255, 255, 255, 0)),url(../images/Banner\ Image.png);
    width: 1320px;
    height: 550px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 167px 329px 187px 359px;
    margin: 20px 0 0 0px;
    margin-left: none;
    justify-content: center;
      }
  .header1 h1{
    container-type: fixed;
    font-size: 85px;
    font-weight: 600;
    color: #FFFFFF;
  }
  .header1 h3{
    color: #FFFFFF;
    font-size: 50px; 
  }
  .header2{
    color: #FF0000;
    font-size: 88px;
    font-weight: bolder;
text-align: center;
display: block;
position: relative;
background: fixed;
justify-content: center;
column-gap: 2px;
}
.header2 h6{
  font-size: 40px;
  font-weight: 700px;
}
  .header2 p{
    color: black;
    font-size: 77px;
  }
  .header3{
    display: block;
    max-width: 100%;
    max-height: 100%;
   position: relative;
      background-image:linear-gradient(45deg,
      rgba(7, 2, 17, 100),
      rgba(255, 255, 255, 0)),url(../images/vector.png);
      color: #FFFFFF;
      width: 1500px;
      height: 650px;
      background-size: 100%;
      background-repeat: no-repeat;
      padding: 20px 329px 187px 195px;
      margin: 0 0 0 0px;
      background-position: center;
  
  }
  .header3-hp{
    font-size: 110px;
    font-weight: bolder;
  }
  .header3-hppl{
    font-size: 32px;
    opacity: 70%;
  }
  .header3 button{
    font-size: 30px;
    border: none;
    text-decoration: none;
    background: none;
    color: #FFFFFF;
  }
main>div .middle {
  background-color: rgba(255, 0, 0, 0.447) ;
  opacity: 80%;
  color: #000000;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  padding: 120px 0 120px 0px;
  margin: auto;
}
 .middle>p span{
  color: #FF0000;
}
.button-btn{
  background-color: #FF0000;
  color: #FFFFFF;
  margin: auto;
  border: none;
  font-size: 25px;
  height: 40px;

  align-items: center;
  display: block;
  margin-top: 50px;
}